Source: ros-indigo-cost-map-cv
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libopencv-dev, libyaml-cpp-dev, ros-indigo-catkin, ros-indigo-cost-map-core
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-cost-map-cv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libopencv-dev, libyaml-cpp-dev, ros-indigo-cost-map-core
Description: Conversions between cost_maps and opencv images.
