Source: ros-indigo-cost-map-core
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-ecl-build, ros-indigo-ecl-console, ros-indigo-ecl-eigen, ros-indigo-grid-map-core
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-cost-map-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ecl-build, ros-indigo-ecl-console, ros-indigo-ecl-eigen, ros-indigo-grid-map-core
Description: Cost maps, following the style of ethz-asl's grid_map library.
