Source: ros-kinetic-cost-map
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-cost-map
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cost-map-core, ros-kinetic-cost-map-msgs, ros-kinetic-cost-map-ros, ros-kinetic-cost-map-visualisations
Description: Meta-package for the universal cost map library.
